/*- Mobile: 375px
- Desktop: 1440px*/

*{box-sizing: border-box;}

:root{
--purple-100: hsl(254, 88%, 90%);
--purple-500: hsl(256, 67%, 59%);

--yellow-100: hsl(31, 66%, 93%);
--yellow-500: hsl(39, 100%, 71%);

--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 7%);
}

body{
  font-family: "DM Sans";
  font-size: 18px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  margin-top: 83px;

  @media screen and (max-width: 768px) {
  height: auto;}
}

p{
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  line-height: 20px;
}

h1{
  font-weight: 500;
  margin: 0;
  font-size: 63px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 23px;
}

h1.number{
  text-align: left;
}

h1.number::before{
  content:">";
  font-size: 50px;
}

h2{
  font-weight: 500;
  margin: 0;
  font-size: 35px;
  line-height: 36px;
  margin-bottom: 20px;
}

h2.grow-text{
  font-size: 40px;
  margin-bottom: 0;
}

h3{
  font-weight: 500;
  margin: 0;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 15px;
}

figure{
  width: 100px;
  margin: 0;
}

img{
  width: 100%;
}

.grid-container {
  display: grid;
  gap: 30px;
  width: 1120px;
  height: 881px;
  color: black;

  .grid-cell {
    border-radius: 10px;
    min-height: 247px;
    padding: 26px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  grid-template-rows: 3fr 0.55fr 1.45fr 2fr;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    "create social social shedule"
    "create manage maintain shedule"
    "write manage maintain shedule"
    "write fifsix grow grow";
  
  @media (max-width: 768px) {
    grid-template-rows: 3fr 1fr 2fr 4fr 3fr 1fr 1fr 2fr;
    grid-template-columns: 1fr;

    grid-template-areas:
      "social"
      "manage"
      "maintain"
      "shedule"
      "grow"
      "fifsix"
      "create"
      "write";
    width: 90vw;
    height: auto;

    .grid-cell {
    border-radius: 10px;
    min-height: 100px;
    }
  }
}

/* Назначение областей */
.grid-cell.Create { 
  grid-area: create; 
  background: var(--yellow-100); 
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-cell.Social { 
  grid-area: social; 
  background: var(--purple-500); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-cell.Shedule { 
  grid-area: shedule; 
  background: var(--purple-100); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 49px 34px 41px;
}

.grid-cell.Manage { grid-area: manage; background: var(--white); }
.grid-cell.Maintain { grid-area: maintain; background: var(--yellow-500); }

.grid-cell.Write { 
  grid-area: write; 
  background: var(--yellow-500);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.grid-cell.Fifsixprecent { grid-area: fifsix; background: var(--white); }

.grid-cell.Grow { 
  grid-area: grow; 
  background: var(--purple-500); 
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.text-white{
  color: var(--white);
}

.text-purple{
  color: var(--purple-500);
}

.text-yellow{
  color: var(--yellow-500);
}

.create-picture{
  width: 100%;
}

.write-picture{
  width: 106%;
}

.social-picture{
  width: 39%;
}

.shedule-picture{
  width: 187%;
  margin-bottom: 10px;
}

.manage-picture{
  width: 152%;
  margin-bottom: 14px;
}

.maintain-picture{
  width: 100%;
}

.grow-picture{
  width: 115%;
}

.fifsix-picture{
  width: 100%;
}